<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Contact List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card button *ngFor="let item of contactList | sort : '+' : 'firstName'" (click)="_contactDetail(item)">
    <ion-card-header>
      <ion-card-title>{{item.firstName}} {{item.lastName}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text color="primary">
        <h6>{{item?.mobileNo}}</h6>
      </ion-text>
    </ion-card-content>
  </ion-card>

</ion-content>